[tool.poetry]
name = "tap-stackexchange"
version = "0.0.1"
description = "`tap-stackexchange` is a Singer tap for StackExchange, built with the Meltano SDK for Singer Taps."
authors = ["Edgar Ramírez-Mondragón"]
keywords = [
    "ELT",
    "StackExchange",
]
license = "Apache 2.0"

[tool.poetry.dependencies]
python = "<3.11,>=3.7.1"
requests-cache = "==0.9.4"
ratelimit = "==2.2.1"
singer-sdk = "^0.4.7"

[tool.poetry.dev-dependencies]
pytest = "^7.1.2"
tox = "^3.25.0"
flake8 = "^4.0.1"
black = "^22.3"
pydocstyle = "^6.1.1"
mypy = "^0.942"
types-requests = "^2.27.22"
isort = "^5.10.1"

[tool.black]
line-length = 88

[tool.isort]
profile = "black"
multi_line_output = 3 # Vertical Hanging Indent
src_paths = "tap_stackexchange"

[tool.pytest.ini_options]
addopts = "-vvv"

[[tool.mypy.overrides]]
module = [
    "ratelimit",
]
ignore_missing_imports = true

[build-system]
requires = ["poetry-core>=1.0.8"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
# CLI declaration
tap-stackexchange = 'tap_stackexchange.tap:TapStackExchange.cli'
