name: Test tap-stackexchange

on: [push]

jobs:
  tests:
    runs-on: ubuntu-latest
    env:
      PIP_CONSTRAINT: .github/workflows/constraints.txt
    strategy:
      matrix:
        include:
        - {python-version: "3.10", session: "lint"}
        - {python-version: "3.10", session: "pytest"}
        - {python-version: "3.9", session: "pytest"}
        - {python-version: "3.8", session: "pytest"}
        - {python-version: "3.7", session: "pytest"}

    steps:
    - name: Checkout code
      uses: actions/checkout@v3.2.0

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4.4.0
      with:
        python-version: ${{ matrix.python-version }}

    - name: Upgrade pip
      run: |
        pip install pip
        pip --version

    - name: Install Poetry
      run: |
        pipx install poetry
        poetry --version

    - name: Install tox
      run: |
        pipx install tox
        tox --version

    - name: Run lint command from tox.ini
      env:
        TAP_STACKEXCHANGE_KEY: ${{ secrets.TAP_STACKEXCHANGE_KEY }}
      run: |
        tox -e ${{ matrix.session }}
